<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winphone.xjwrj.mapper.DeviceTypeMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.winphone.xjwrj.entity.DeviceType">
		<id column="id" property="id" />
		<result column="device_type_name" property="deviceTypeName" />
		<result column="device_type_code" property="deviceTypeCode" />
		<result column="create_by" property="createBy" />
		<result column="create_date" property="createDate" />
		<result column="update_by" property="updateBy" />
		<result column="update_date" property="updateDate" />
		<result column="is_delete" property="isDelete" />
		<result column="remark" property="remark" />
		<result column="org_id" property="orgId" />
	</resultMap>

	<sql id="Column_Where_If">
		<if test="id != null">
			AND dt.id = #{id}
		</if>
		<if test="deviceTypeName != null and deviceTypeName != ''">
			AND dt.device_type_name like CONCAT('%',#{deviceTypeName},'%')
		</if>
		<if test="deviceTypeCode != null and deviceTypeCode != ''">
			AND dt.device_type_code like CONCAT('%',#{deviceTypeCode},'%')
		</if>
		<if test="orgId != null">
			AND dt.org_id = #{orgId}
		</if>
	</sql>

	<!--条件查询 -->
	<select id="selectPageParam" resultMap="BaseResultMap">
		SELECT dt.*
		FROM device_type dt
		<where>
			dt.is_delete = 0
			<include refid="Column_Where_If"/>
		</where>
		ORDER BY dt.id desc
	</select>

	<!--唯一性验证-->
	<select id="selectByMapOnce" resultMap="BaseResultMap">
		SELECT
		dt.*
		FROM device_type dt
		<where>
			dt.is_delete = 0
			<if test="id != null">
				AND dt.id = #{id}
			</if>
			<if test="deviceTypeName != null and deviceTypeName != ''">
				AND dt.device_type_name = #{deviceTypeName}
			</if>
			<if test="deviceTypeCode != null and deviceTypeCode != ''">
				AND dt.device_type_code = #{deviceTypeCode}
			</if>
		</where>
	</select>

</mapper>
